apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "quarkus-playground.fullname" . }}
  labels:
    {{- include "quarkus-playground.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "quarkus-playground.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:        
        {{- include "quarkus-playground.labels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "quarkus-playground.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: {{ .Values.health.endpoint.liveness | quote }}
              port: http
          readinessProbe:
            httpGet:
              path: {{ .Values.health.endpoint.readiness | quote }}
              port: http
          {{- if or ((.Values.config).secret) ((.Values.config).configmap) }}         
          envFrom:    
          {{- with .Values.config.secret }}
          - secretRef:
              name: {{ . }}
          {{- end }}
          {{- with .Values.config.configmap }}
          - configMapRef:
              name: {{ . }}
          {{- end }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
